/* header css file */


.dropdown::before{
   content: '';
   height: 20px;
   width: 20px;
   background-color: white;
   transform: rotate(45deg);
   position: absolute;
   left: 44%;
   top: -.5rem;
   border-radius: .01rem;
   z-index: -1;
}
